/www/nbproject/private/
/nbproject/private/ 
/www/bower_components/
/platforms/
/nbproject/
/plugins/
/www/nbproject/
/hooks/
/www/assets/app/nbproject/private/
/www/games/attention/bower_components/
/www/games/memory/bower_components/
/www/games/problems/bower_components/
/www/games/ranking/bower_components/