<nav class="nav"> 
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-bar" >    
            <div class="trophy"> 
                <img class="trophy-img" src="assets/img/icone_trofeu.png" alt=""/>
                <span class="trophy-label">  

                </span>
            </div>
            <div class="trophy" ng-hide="{{!stateGamer}}" > 
                <img class="trophy-img" src="assets/img/icone_trofeu_teste.png" alt=""/>
                <span class="trophy-label">  

                </span>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 title"> 
            <img class="title-img" src="assets/img/title.png" alt=""/>
            <span class="title-label">  
                Escola do Cérebro 
            </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 left-bar">  
            <span class="h1">  
                {{dashboard.ngames}} 
            </span>
        </div>
    </div> 
</nav>
<div class="testy" ng-hide="{{!stateGamer}}" ng-click="goPath('viewT')" > 
    <img class="testy-img" src="assets/img/button_testes.png" alt=""/>
    <span class="testy-label">  

    </span>
</div>

<section class="view view-g container" >  
    <div class="row">       
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 h100" ng-click="goPath('view3')"> 

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 h100" ng-click="goPath('view5')"> 

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 h100" ng-click="goPath('view1')">    

        </div> 
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 h100" ng-click="goPath('view4')">       

        </div> 
    </div>  
</section> 

<div class="baloon card card-5 {{hidden}}" ng-click="closeAlert()"> 
    <div class="baloon-baloon" >  
        <button class="btn fa fa-close baloon-btn" ng-click="closeAlert()"></button>  

        <span class="baloon-label">   
            {{message}}                         
        </span>
    </div> 
</div>