html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Memos customization */
@font-face {
    font-family: 'alpha_echoregular';
    src: url('../fonts/alpha_echo-webfont.eot');
    src: url('../fonts/alpha_echo-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/alpha_echo-webfont.woff') format('woff'),
        url('../fonts/alpha_echo-webfont.ttf') format('truetype'),
        url('../fonts/alpha_echo-webfont.svg#alpha_echoregular') format('svg');
    font-weight: normal;
    font-style: normal;

} 
html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    background: #597964; /* Old browsers */ 

    width:100%;

    height:100%; 


}
.genius_bg{
    background-repeat: repeat;  
}
body{
    width:100%;
    height:100%; 
    overflow-x:hidden;
    overflow-y:hidden; 
    background-repeat:no-repeat; 
    background-position:center center;

}
#divPlay{ 
    position: absolute; 
    left: 40px; 
    top: 250px;  
    height: 60px;
    width:100%;
}
#divPlay div{

    cursor: pointer; 

    width: 150px;
    height: 43px;

}
#divLevels{ 
    position: absolute; 
    text-align: center;
    width:100%;

    top: 50px; 
    height: 60px;
    display: none;
}
#divLevels div{ 
    cursor: pointer;  

    text-align: center;
    display:inline-block;
    cursor: pointer; 

    width: 150px;
    height: 43px;
} 
.cover{
    background-size: cover; 

}
#wrap {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    visibility: hidden;


}


article{
    display:block;
    width:100%;
    height:100%;
    text-align:center;
    margin:0 auto;
    position:absolute;
    left:0;
    top:0;
    z-index:2;
    opacity:1;
}

article i{
    position:relative;
    font-size:30px;
    margin-top:100px !important;
    display:inline-block !important;
    color:#fff;
}

article i:before{
    width:100px;
    height:100px;
    background:rgba(255,255,255,0.4);
    -webkit-border-radius:50%;
    border-radius:50%;
    display:inline-block !important;
    line-height:100px;
}

article h1{
    padding:30px 0px 20px 0px;
    font-size:40px;
}

article .cnt{
    text-align:center;
    line-height:24px;
    font-size:20px;
}

.off{
    z-index:0;
    opacity:0; 
}
#console {
    left: 0px;
    right: 0px;
    top: 40%;
    position: absolute;
    height: 100%;  
    text-align: center;

    color: #f2f2f2; 
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;  
    display:none;
    font-size: 4.5em;  
    cursor: pointer;  
    width:100%;
     font-family: 'alpha_echoregular', cursive;   
    text-transform: uppercase;
    border-bottom: 2px solid #FF0000;
    z-index: 1000; 
}

#console.busy {
    opacity: 1; 
    display: table;   
    padding-top:1%;
}   


// ┌────────────────────────────────────────────────────────────────────┐ \\
// │ Escola do Cérebro 1.0.0 - Educational Game Library                 │ \\
// ├────────────────────────────────────────────────────────────────────┤ \\
// │ Copyright © 2013-2014 Cognisense Tecnologia Ltda                   │ \\
// │ Copyright © 2014 EduSCADA Labs (http://eduscada.com)               │ \\
// ├────────────────────────────────────────────────────────────────────┤ \\
// │ Licensed under the MIT (http://cognisense.com.br/license.html)     │ \\
// └────────────────────────────────────────────────────────────────────┘ \\

