
<nav class="nav"> 
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-bar" >  
            <img src="assets/img/button_back.png" alt="" class="btn-img pointer" ng-click="goPath('viewG')"/> 
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 title"> 
            <img class="title-img" src="assets/img/title.png" alt=""/>
            <span class="title-label">  
                {{title}} 
            </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 left-bar">  </div>
    </div> 
</nav> 

<section class="view view-T">
    <div class="row"> 
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <a class="item item-avatar" href="#/viewT" ng-click="checkPsicotest('attention')">
                    <img src="assets/img/icon_breve.png" alt=""/> 
                </a>
                <div class="caption"> </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <a class="item item-avatar" href="#/viewT" ng-click="checkPsicotest('memory')">
                    <img src="assets/img/icon_breve.png" alt=""/> 
                </a> 
                <div class="caption"> </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail"> 
                <a class="item item-avatar" href="#/viewT" ng-click="checkPsicotest('problems')">
                    <img src="assets/img/icon_breve.png" alt=""/> 
                </a>
                <div class="caption"> </div>
            </div>
        </div> 

    </div>  

</section>



<div class="modal fade" id="modal_psicotest" tabindex="-1" role="dialog"   aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <button class="btn fa fa-close  " data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <iframe iframe-onload="iframeLoadedCallBack()" id="{{gameId}}" src="{{gameUrl}}"></iframe> 
            </div>

        </div> 
    </div> 
</div>     
