 
<nav class="nav"> 
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 title"> 
            <img class="title-img" src="/assets/img/tittle.png" alt=""/>
            <span class="title-label">  
                Bem vindos à Escola do Cérebro 
            </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
        </div>
    </div> 
</nav>

<section class="view view-h" ng-click="goPath('viewL')">
    <div class="row">
        <!--         <audio media-player="button" data-playlist="buttons">
                    <source src="/assets/audio/193102__b-lamerichs__eventsounds2-p.mp3" type="audio/ogg">
                </audio>-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 h100"> 

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 h100"> 

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 h100"> 

        </div> 
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 h100"> 


        </div> 
    </div>  
</section>
<div class="baloon {{hidden}}" ng-click="goPath('viewL')"> 
    <div class="baloon-baloon" >   
        <span class="baloon-label">  
            Toque para começar 

        </span>
    </div> 
</div>